strong { /* element selector */
    color: red;
}

i {
    color: #FFA500;  /* hex code */
}

em {
    color: hsl(0, 80%, 58%); /* hue, saturation, lightness, alpha values, relative unit 1 */
}

.main-title {
    background-color: rgb(241, 245, 174); 
    margin: auto;
    text-decoration: underline;
    text-align: center;
}

h2, h3 { /* box model for h3 using shorthand notation */
    width: 220px; /* absolute unit 1 */
    border: 3px solid rgb(15, 243, 15); 
    padding: 5px 5px 5px 5px;
    margin: 20px 20px 20px 20px;
}

h4 { /* box model for h4 using longhand notation */
    width: 5cm; /* absolute unit 2 */
    height: 0.2in; /* absolute unit 3 */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 2px;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-left: 20px;
    margin-right: 20px;
    border-style: dashed;
    border-color:rgb(15, 243, 15); 
    border-width: 2px;
    border-radius: 5px;
}